body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    color: #333;
}
p {
    color: #666;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
.sub {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.sub:hover {
    background-color: #0056b3;
}
p {
    text-align: center;
    margin-top: 15px;
}
 p a {
    color: #007bff;
    text-decoration: none;
}
p a:hover {
    text-decoration: underline;
}

